body{
	margin-left: 1%;

}
img {
	width: 31%;
	padding-left: 1.5%;
	padding-top: 2%;
	height : 30%;
}

h1{
	font-family: sans-serif;
	margin-bottom: 5px;
	font-size: 6vw;
	margin-top: 10px;
	margin-left: 1.5%;
}

hr{
	width: 80%;
	margin-left: 1.5%;
	margin-top: 0px;
}